@page
@model Canban.Pages.ProjectsModel
@{
    Layout = "_AnotherLayout";
}

<div class="row w-100 p-3">
    <a href="https://aworkcalendar.azurewebsites.net" class="col-sm rounded shadow mr-3">
       <img src="https://user-images.githubusercontent.com/41269745/115898763-3485d800-a45e-11eb-88aa-5d5521ec765b.png" class="rounded img-fluid" alt="Alternate Text" />
    </a>
    
    <a href="https://ordermeal.azurewebsites.net" class="col-sm rounded shadow">
        <img src="https://camo.githubusercontent.com/7a0c0f0c7c59fb26e38742ea10a27ead96ffcf9da6730d8cf34af09db10d7766/68747470733a2f2f6d617a75722e626c6f622e636f72652e77696e646f77732e6e65742f6f6272617a6b792f53637265656e73686f74253230323032312d30342d30392532303136303330342e706e673f73703d726c2673743d323032312d30342d30395431333a35303a34345a2673653d323039322d31322d31305431333a35303a30305a2673763d323032302d30322d31302673723d62267369673d555835474f68746b6b5a494d7a766a67353543347245566d314650466d34416635316d7a524e63786d25324659253344" alt="Alternate Text"  class="img-fluid rounded"/>
    </a>
</div>